<footer>
    <div class="jumbotron" style="background-color: #cdadea;">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>We are the top brand liquor,beer retail home supplier chain. With an outstanding service. And the
                    best part being we deliver you home. Stay Home!! Sty Safe</p>
            </div>
            <div class="col-md-4">
                <h3>Offices</h3>
                <p>23- Baker Street, New Delhi <em>Near ABC street</em></p>
            </div>
            <div class="col-md-4">
                <h3>Support</h3>
                <p><span class="fa fa-envelope fal-lg"></span> Email: berait4min@gmail.com</p>
                <p><span class="fa fa-phone fal-lg"></span> Contact: 1234567890</p>
            </div>
        </div>
    </div>

</footer>