<nav class="navbar fixed-top navbar-expand-md navbar-light" style="color: white; background-color: blueviolet;">
    <!-- Brand -->
    <a class="navbar-brand offset-md-2 text-white" href="{{url_for('index')}}"><b>Bear It</b></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse mr-auto" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><span class="fa fa-home fa-lg"></span> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><span class="fa fa-shopping-cart fa-lg"></span> Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fa fa-user-circle-o fa-lg"></i> Login</a>
            </li>
        </ul>
    </div>
</nav>