{% extends 'base.html'%}

{% block content %}
<div class="jumbotron" style="background-color: #8243bc; margin-top: 56px;">
    <div class=" container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="text-white">A place you can Trust, Try out our top brands</h1>
            </div>
            <div class="col-md">
                {% if user %}
                <h3 class="text-white">Deal of the Day</h3>
                {% else %}
                <h3 class="text-white"><a href="#" style="text-decoration: none;">Sign In</a> to place an order Now</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'includes/flash_msg.html'%}
<div class="container">
    <h3>Trends</h3>
    <hr>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            {% include 'includes/products.html'%}
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}